# Aggregation and Grouping

## Groupby()

In [4]:
import pandas as pd


Dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "BE"],
        'score':[90, 40, 80, 98]}

df=pd.DataFrame(Dict)

ndf=df.groupby('degree')
print(ndf.first())

          name  score
degree
BCA     pankaj     40
BE       Geeku     98
M.Tech  sudhir     80
MBA     aparna     90

## Aggregation

### sum()

In [5]:
import pandas as pd


Dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "BE"],
        'score':[90, 40, 80, 98]}
df=pd.DataFrame(Dict)

df.sum()

name      aparnapankajsudhirGeeku
degree             MBABCAM.TechBE
score                         308
dtype: object

### mean()

In [6]:
import pandas as pd


Dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "BE"],
        'score':[90, 40, 80, 98]}
df=pd.DataFrame(Dict)

df.mean()

score    77.0
dtype: float64

### count()

In [7]:
import pandas as pd

Dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "BE"],
        'score':[90, 40, 80, 98]}
df=pd.DataFrame(Dict)

df.count()

name      4
degree    4
score     4
dtype: int64