# Data cleaning

## isnull()

In [2]:
import pandas as pd
import numpy as np

data = {
    "Integer":[24,34,np.nan,70,20],
    "Odd":[24,np.nan,78,12,20],
    "Even":[np.nan,23,89,87,71]
}
df = pd.DataFrame(data)
missing_value=df.isnull()
print(missing_value)

   Integer    Odd   Even
0    False  False   True
1    False   True  False
2     True  False  False
3    False  False  False
4    False  False  False

## .dropna()

In [4]:
#Pandas dropna() method allows the user to analyze and drop Rows/Columns 
#with Null values in different ways

import pandas as pd

data = {
    "Integer":[24,34,np.nan,70,20],
    "Odd":[24,np.nan,78,12,20],
    "Even":[np.nan,23,89,87,71]
}

df = pd.DataFrame(data)
df.dropna()

   Integer   Odd  Even
3     70.0  12.0  87.0
4     20.0  20.0  71.0

## .fillna()

In [7]:

import pandas as pd

data = {
    "Integer":[24,34,np.nan,70,20],
    "Odd":[24,np.nan,78,12,20],
    "Even":[np.nan,23,89,87,71]
}

df = pd.DataFrame(data)
df.fillna('null')

  Integer   Odd  Even
0      24    24  null
1      34  null    23
2    null    78    89
3      70    12    87
4      20    20    71