# Merging and Joining

## merge()

In [5]:
import pandas as pd

Data1={
    
    'Name':['Ath','Adi','Nish'],
    'Age':(22,23,21)
}

Data2={
    'Name':['Ath','Adi','Nish'],
    'Mark':[98,43,23]
}

df1 = pd.DataFrame(Data1)
df2 = pd.DataFrame(Data2)

merge=pd.merge(df1,df2,on='Name')
print(merge)

   Name  Age  Mark
0   Ath   22    98
1   Adi   23    43
2  Nish   21    23

## Concat()

In [7]:
import pandas as pd

Data1={
    
    'Name':['Ath','Adi','Nish'],
    'Age':(22,23,21)
}

Data2={
    'Name':['Ath','Adi','Nish'],
    'Mark':[98,43,23]
}

df1 = pd.DataFrame(Data1)
df2 = pd.DataFrame(Data2)

pd.concat([df1,df2],sort=True)

    Age  Mark  Name
0  22.0   NaN   Ath
1  23.0   NaN   Adi
2  21.0   NaN  Nish
0   NaN  98.0   Ath
1   NaN  43.0   Adi
2   NaN  23.0  Nish